/* basic page styles */


/* current default: 111833 - blue-weak: #1f2833; brown-red: 33111b;


/* light yellow: FBF7EB, new lighter: #f7f2ea */


/* light grey: #c5c6c7*/


/* neon green: #66FCF1 */

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.05em;
    line-height: 1.5;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

h1,
h2,
.logo {
    /* font-family: arial, helvetica, free-sans, sans-serif; */
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 1.6em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.4em;
    margin: 2rem 0 0 0;
}

p {
    margin: 0 0 1em 0;
}

ul,
ol {
    margin: 1em 0 1.5em 3em;
}

li {
    margin: 0 0 0.75em 0;
}

img {
    float: right;
    width: auto;
    height: auto;
    max-width: 50%;
    margin: 0 0 1em 1em;
    border: 0 none;
}

pre {
    /* font-size: 1.05em; */
    padding: 0.2em 0.4em;
    margin: 1em 0 1.5em 1.5em;
    background-color: #111833;
    /* makes code-block border round */
    border-radius: 10px;
    overflow: auto;
}

code {
    font-size: 0.88em;
    font-family: Consolas, Menlo, "DejaVu Mono", monospace;
    color: #E831C1;
    background-color: #ddd7d4;
    font-weight: bold;
    /* makes single code border round */
    border-radius: 4px;
    padding: 0 0.4em;
}

pre code {
    padding: 0;
    color: #eff5ef;
    background-color: #111833;
    padding-left: 8px;
    line-height: 2.9;
    font-size: 0.84em;
    font-weight: normal;
}

a:link,
a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover,
a:active {
    /* color: #c5c6c7; */
}


/* this is the Article-Layout List/Overview page */

.pagelist {
    list-style-type: none;
    /* TODO: check what flex does here */
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    line-height: 1.3;
}

.pagelist li {
    flex: 1 1 45%;
    margin: 0 1em 1em 0;
}

.pagelist a {
    display: block;
    height: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    outline: 0 none;
    overflow: hidden;
    /* color for links in pagelist type page eg "Installation" (1 from 3) */
    color: #111833;
}

.pagelist a:hover,
.pagelist a:focus {
    /* background-color: #5a14dd; */
    border-color: rgb(238, 9, 150);
}

.pagelist h2,
.pagelist p {
    margin: 0;
}

.pagelist p {
    color: #111833;
}

p.articleinfo {
    font-size: 0.8em;
    /* currently date */
    color: #111833;
}


/* layout */

main {
    /* for page and article template */
    clear: both;
    background-color: #f7f2ea;
    overflow: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content {
    /* move font a little down */
    padding-top: 10px;
}

.frontpage>main {
    background-color: #111833;
}

.frontpage p,
.frontpage h2 {
    color: white;
    /* margin-bottom: 0; */
}

.frontpage>main img {
    float: left;
    /* width: auto; */
    height: auto;
    width: 33.333%;
    /* margin-top: 15em; */
    margin-left: 0;
    margin-bottom: 0;
}

article {
    /* for page and article template */
    /* Distance left, right 1em */
    padding: 0 1em;
    /* Distance top 2em for content */
    padding-top: 2em;
    flex-grow: 1;
}

article a:link,
article a:visited,
article a:hover {
    color: #2092bc;
}

article a:hover {
    text-decoration: underline;
}

header {
    background-color: #111833;
    border-bottom: solid;
    color: #66fcf1;
    display: flex;
    flex-direction: column;
    padding: 7px 1em 0;
}

footer {
    /* footer global */
    clear: both;
    background-color: #f7f2ea;
    margin-top: 2em;
    font-size: 0.90em;
    padding: 1em;
    text-align: center;
}

footer p {
    margin: 0;
}

footer a:link,
footer a:visited,
footer a:hover {
    color: #2092bc;
}

footer a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 1.5em;
    margin: 0.2em 0 0 0;
}

.logo a {
    padding: 0.2em 0;
    color: #66fcf1;
}


/* navigation bar top (nav.main) and left (nav.sub) 
and article prev/next navigation links (.nav.page) */

.nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
}

.nav li {
    flex: 1 1 100%;
    margin: 0;
}

.nav a,
.nav strong {
    display: block;
    text-align: left;
    white-space: nowrap;
    padding: 0.6em 0;
}

.nav.main a {
    color: #fff;
    /* font-size: 1.6em; */
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.nav.main a:hover {
    color: #c5c6c7;
}

.nav a.active,
.nav strong {
    background-color: #111833;
}


/* this is the prev-next-link at bottom in articles */

.nav.page {
    margin-top: 1.5em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


/* this is the left vertical navigation bar */

.subpages .nav.sub {
    background-color: #111833;
    color: #fff;
    font-size: 0.9em;
}

.subpages .nav.sub a {}

.subpages .nav.sub a:hover {
    /* color: #c5c6c7; */
    text-decoration: underline;
}

@media (min-width: 16em) {
    .nav li {
        flex: 1 1 50%;
    }
}

main>.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 0;
}


/* styles.css | http://localhost:3000/css/styles.css */

@media (min-width: 50em) {
    header {
        /* header global */
        position: fixed;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 60px;
        top: 0;
        padding: 0 1em;
    }
    .nav.main {
        margin-left: auto;
        margin-right: 20px;
    }
    .nav li {
        flex: 1 1 auto;
    }
    .nav.main li {
        padding: 0 0.5em;
    }
    main {
        /* global template */
        padding-top: 60px;
        min-height: 100%;
    }
    .subpages .content {
        /* article template */
        margin-left: 310px;
    }
    .subpages article {
        /* article template */
        /* min-width for text content, eg "next: xxx" */
        min-width: 100%;
    }
    .subpages .nav.sub {
        /* article template */
        width: 310px;
        position: fixed;
        top: 60px;
        left: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-top: 35px;
        padding-left: 25px
    }
    .nav.sub ul {
        /* margin-top: 1em; */
        flex-direction: column;
        /* border above first link */
        /* border-top: 1px solid rgb(185, 27, 27); */
    }
    .nav.sub li {
        /* put smth around nav.sub links */
        /* border-bottom: 1px solid rgb(58, 17, 17); */
    }
    .nav.sub a,
    .nav.sub strong {
        text-align: left;
        padding-left: 0.75em;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.05em;
    }
    .nav.page a {
        text-align: left;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .nav.page a.next {
        text-align: right;
    }
    article {
        padding-left: 4em;
        padding-right: 4em;
    }
}