<!DOCTYPE html>
<html>

<head>
	{{> meta }}
	<style>
		main {background-color: #111833;}
		h1 {color: blue;}
		p {color: red;}
	</style>

</head>

<body>

	{{> header }}

	{{!-- removed since there is no navsub (sidebar) in page layout --}}
	{{!-- <main{{#if navsub}} class="subpages"{{/if}}> --}}
	<main>

		<div class="content">

			{{!-- {{> navsub }} --}}

			<article>

				{{#if title}}
				<h1>{{ title }}</h1>
				{{/if}}

				{{{ contents }}}

			</article>

		</div>

	</main>

	 {{!-- {{> footer template='page' }} --}}

</body>

</html>